/*----------------------------------------*/
/*  Faq Style
/*----------------------------------------*/


.faq-area {
    position: relative;
    padding: 100px 0px 140px;
}

.faq-wrapper {
    position: relative;
}

.faq-box {
    position: relative;
    .accordion {
        position: relative;
    }
    .card {
        position: relative;
        background-color: #f7f7f7;
        border: 1px solid #f7f7f7;
        margin-bottom: 30px;
        .card-header {
            background-color: #f7f7f7;
            position: relative;
            border: 1px solid #f7f7f7;
            padding: 0px;
            h5 {
                font-size: 20px;
                letter-spacing: 0px;
                color: #272b2e;
                line-height: 28px;
                font-weight: 500;
                position: relative;
                padding: 20px;
                i {
                    position: absolute;
                    right: 20px;
                    top: 21px;
                    font-size: 26px;
                }
            }
            a {
                position: relative;
                display: block;
            }
        }
        .collapse {
            position: relative;
        }
        .card-body {
            position: relative;
            padding: 8px 23px 22px;
            p {
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0px;
                color: #878787;
            }
        }
    }
}


.faq-question-submit {
    position: relative;
    margin-top: 40px;
    h4 {
        font-size: 30px;
        letter-spacing: 0px;
        line-height: 40px;
        color: #101012;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .contact-box {
        position: relative;
        .df-control {
            margin-bottom: 20px;
        }
    }
}



/*----------------------------------------*/
/*  Faq Style END
/*----------------------------------------*/