// Variables

//Font Variables
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
// $tertiaryFont: 'Circular Std';


// Color Variables
$primaryColor: #fff;
$primary2Color: #000;
$secondaryColor: #757575;
$tertiaryColor: #212121;
$quaternaryColor: #464748;


// Use This Color Variable If Need
// $quinary: #f9f5f0;
// $senaryColor: #d7d7d7;
// $septenaryColor: #f7f7f7;
// $octonaryColor: #8e8d8e;
// $nonaryColor: #ab121a;
// $denaryColor: #214167;
// $colorXIColor: #f3f3f3;
// $colorXIIColor: #101012;
// $colorXIIIColor: #a5a9b5;



$elementsColor:#f7ca3e;
$elementsColorII:#282727;
$elementsColorIII:#77af17;
// $elementsColorIV:#3d84c6;
// $elementsColorV:#fcc73e;


