<div class="modal fade" id="consult" tabindex="-1" role="dialog" aria-labelledby="consultTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" #closeButton aria-label="Close"
                    (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="registration-form">
                    <form id="frmRegistration" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <label for="firstName">First Name<span class="text-denger">*</span></label>
                                <input type="text" formControlName="firstName" class="df-control" id="firstName"
                                    name="firstName"
                                    [ngClass]="{ 'is-invalid': formControl.firstName.touched && formControl.firstName.invalid }"
                                    placeholder="First Name *">
                                <div *ngIf="formControl.firstName.touched && formControl.firstName.invalid">
                                    <span class="validation-error"
                                        *ngIf="registrationForm.get('firstName').hasError('required')">
                                        {{validationMsgEnum.FirstNameRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!registrationForm.get('firstName').hasError('required') && registrationForm.get('firstName').hasError('maxlength')">
                                        {{validationMsgEnum.FirstNameMaxLength}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <label for="lastName">Last Name<span class="text-denger">*</span></label>
                                <input type="text" formControlName="lastName" class="df-control" id="lastName"
                                    name="lastName"
                                    [ngClass]="{ 'is-invalid': formControl.lastName.touched && formControl.lastName.invalid }"
                                    placeholder="Last Name *">
                                <div *ngIf="formControl.lastName.touched && formControl.lastName.invalid">
                                    <span class="validation-error"
                                        *ngIf="registrationForm.get('lastName').hasError('required')">
                                        {{validationMsgEnum.LastNameRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!registrationForm.get('lastName').hasError('required') && registrationForm.get('lastName').hasError('maxlength')">
                                        {{validationMsgEnum.LastNameMaxLength}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <label for="mobile">Mobile<span class="text-denger">*</span></label>
                                <input type="text" formControlName="mobile" class="df-control" id="mobile" name="mobile"
                                    (focusout)="checkIsMobileExist()"
                                    [ngClass]="{ 'is-invalid': formControl.mobile.touched && formControl.mobile.invalid }"
                                    placeholder="Mobile *">
                                <div *ngIf="formControl.mobile.touched && formControl.mobile.invalid">
                                    <span class="validation-error"
                                        *ngIf="registrationForm.get('mobile').hasError('required')">
                                        {{validationMsgEnum.MobileRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!registrationForm.get('mobile').hasError('required') && registrationForm.get('mobile').hasError('pattern')">
                                        {{validationMsgEnum.MobileLength}}
                                    </span>
                                </div>
                                <span
                                    *ngIf="!registrationForm.get('mobile').hasError('required') && !registrationForm.get('mobile').hasError('pattern') && isMobileExist"
                                    class="validation-error">
                                    {{validationMsgEnum.MobileAlreadyExist}}
                                </span>
                            </div>
                            <div class="col-md-12 mb-5">
                                <label for="email">Email Address<span class="text-denger">*</span></label>
                                <input type="text" formControlName="email" class="df-control" id="reg_email"
                                    name="reg_email" (focusout)="checkIsEmailExist()" placeholder="Email *"
                                    [ngClass]="{ 'is-invalid': formControl.email.touched && formControl.email.invalid }">
                                <div *ngIf="formControl.email.touched && formControl.email.invalid">
                                    <span class="validation-error"
                                        *ngIf="registrationForm.get('email').hasError('required')">
                                        {{validationMsgEnum.EmailRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!registrationForm.get('email').hasError('required') && registrationForm.get('email').hasError('maxlength')">
                                        {{validationMsgEnum.EmailMaxLength}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!registrationForm.get('email').hasError('required') && registrationForm.get('email').hasError('invalidEmailAddress')">
                                        {{validationMsgEnum.EmailInvalid}}
                                    </span>

                                </div>
                                <span
                                    *ngIf="!registrationForm.get('email').hasError('required') && !registrationForm.get('email').hasError('invalidEmailAddress') && isEmailExist"
                                    class="validation-error">
                                    {{validationMsgEnum.EmailAlreadyExist}}
                                </span>
                            </div>
                            <div class="col-md-12 mb-5">
                                <label for="password">Password<span class="text-denger">*</span></label>
                                <input type="password" class="df-control" formControlName="password" id="reg_password"
                                    name="reg_password" placeholder="Password *"
                                    [ngClass]="{ 'is-invalid': formControl.password.touched && formControl.password.invalid }">
                                <div *ngIf="formControl.password.touched && formControl.password.invalid">
                                    <span class="validation-error"
                                        *ngIf="registrationForm.get('password').hasError('required')">
                                        {{validationMsgEnum.PasswordRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!registrationForm.get('password').hasError('required') && (registrationForm.get('password').hasError('maxlength') || registrationForm.get('password').hasError('minlength') )">
                                        {{validationMsgEnum.PasswordMaxLength}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <input type="submit" [ngClass]="isSubmitDisable ? 'diabled-class' : ''"
                                    [disabled]="isSubmitDisable" class="bfs-btn d-block w-100" value="Submit Message">
                            </div>
                        </div>
                    </form>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="#" class="social-login"><img src="assets/img/facebook-icon.png" alt="">
                                Facebook</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="social-login"><img src="assets/img/google-icon.png" alt=""> Google</a>
                        </div>
                    </div>
                    <div class="form-bottom text-center">I have an account? <a href="#loginModal" id="register"
                            data-toggle="modal">SignIn</a></div>
                </div>
            </div>
        </div>
    </div>
</div>