<!-- Breadcrumb Area -->
<section class="breadcrumb-area">
    <img src="assets/img/bg/innerpage-breadcrumb-bg-1.jpg" alt="" class="breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-box">
                    <h3 class="page-title">404</h3>
                    <ul class="breadcrumb-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Error</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="error-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-wrapper">
                    <div class="ew-img">
                        <img src="assets/img/section-img/404.png" alt="">
                    </div>
                    <div class="ew-text">
                        <h3>{{errorMsg}}</h3>
                        <a routerLink="/home" class="btn-style-a">Back to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>