<section class="most-popular-food-area" *ngIf="!isShowMenu && isAPIResponseCome">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-titleV1" *ngIf="brandDetail">
                    <p>{{brandDetail?.display_name}}</p>
                    <h3>Branches</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of branchList">
            <div class="item">
                <div class="single-food-box">
                    <div class="sfb-img">
                        <img src="../../assets/img/food-menu/mpfood-1.jpg" alt="">
                    </div>
                    <div class="sbf-info">
                        <h4>{{item.title_eng}}</h4>
                    </div>
                    <div class="sbf-info">
                        <div>
                            <b> Branch Preparetion Time</b>: <span>{{item.branchPrepTime}}</span>
                        </div>
                        <div>
                            <b>deliveryOpen</b>: <span>{{item.deliveryOpen ? 'Yes' : 'No'}}</span>
                        </div>
                        <div>
                            <b>pickupOpen</b>: <span>{{item.pickupOpen ? 'Yes' : 'No'}}</span>
                        </div>
                    </div>
                </div>
                <div class="branch-btn">
                    <a *ngIf="item.istablebookingAllowed" [routerLink]="['/reservation']" [queryParams]="{branchId: item.id}"
                        class="btn-style-a smoothscroll wow fadeInUp" data-delay="0.85s">BOOK A TABLE</a>
                    <a (click)="showMenu(item)" class="btn-style-a smoothscroll wow fadeInUp"
                        data-delay="0.85s">Menu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="isShowMenu && branchDetail">
    <app-menu #menu>
    </app-menu>
</div>