<div class="modal fade" id="order-detail" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
    data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Order Detail</h3>
                <button type="button" class="close" data-dismiss="modal" #closeButton1 aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [hidden]="isAPIResponseCome">
                <app-small-loader></app-small-loader>
            </div>
            <div class="modal-body" *ngIf="orderDetail && isAPIResponseCome">
                <div>
                    <div class="address-type">
                        <div class="title">{{orderDetail.orderDate | date:' d MMM y, h:mm a'}}</div>
                    </div>
                    <div class="order-details">
                        <div class="place"> <span class="order-lable-text">Type:</span> {{orderDetail.orderType}}</div>
                        <div class="place"> <span class="order-lable-text">Status:</span> {{orderDetail.orderStatus}}
                        </div>
                        <div class="place"> <span class="order-lable-text">Order Discount:</span>
                            ${{orderDetail.orderDiscount}}</div>
                        <div class="des"> <span class="order-lable-text">Address:</span> {{orderDetail.fullAddress}}
                        </div>
                        <div class="place"> <span class="order-lable-text">landmark:</span> {{orderDetail.landmark}}
                        </div>
                        <div class="place"> <span class="order-lable-text">Area:</span> {{orderDetail.area}}</div>
                    </div>
                </div>
                <ng-container *ngIf="orderDetail?.listOrderDetails?.length">
                    <span class="order-lable-text">Order Items</span>
                    <div class="order-items" *ngFor="let cart of orderDetail?.listOrderDetails">
                        <div class="order-item" style="display: flex; justify-content: space-between;">
                            <div class="menu-name">{{cart?.quantity}} × {{cart.title_eng}}</div>
                            <div class="menu-name">
                                <div class="order-price">${{cart.total}}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>