.pagination-icon {
    display: flex;
    justify-content: space-around;
    width: 80px;
    margin-left: 50%;
    align-items: center;
    button {
        cursor: pointer;
    }
}

.branch-btn {
    justify-content: space-between;
    display: flex;
    margin: 0 10% 0 10%;
    a {
        cursor: pointer;
    }
}