<header class="header-area dfoody-header">
    <div class="dfoody-top-header" style="display: block;" *ngIf="isUserLogin">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="gth-content gth-left">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Materfront avenue, street 1F, USA</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="gth-content gth-right">
                        <p>Call Now: <a href="tel:8883875000">+965 55570300</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dfoody-header-box">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3 col-md-2 col-xl-3">
                    <div class="logo-wrapper">
                        <a href="index.html">
                            <img [src]="preFillService?.configurationData?.enterpriseLogo"
                                onerror="this.src='assets/img/logo-1.png'"
                                [alt]="preFillService?.configurationData?.enterpriseLogo">
                        </a>
                    </div>
                </div>
                <div class="col-9 col-md-10 col-xl-9">
                    <div class="gm-box">
                        <div class="dfoody-menu-wrapper">
                            <!-- Mobile menu toggle button (hamburger/x icon) -->
                            <input id="dfoodyMenu-state" type="checkbox" />
                            <label class="dfoodyMenu-btn" for="dfoodyMenu-state">
                                <span class="dfoodyMenu-btn-icon"></span>
                            </label>
                            <ul id="dfoodyMenu" class="sm sm-simple dfoody-menu">
                                <li>
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#reservation">Reservation</a>
                                </li>
                                <li>
                                    <a (click)="menuClick()">Menu</a>
                                </li>
                                <li *ngIf="isUserLogin">
                                    <a href="#shop">Shop</a>
                                </li>
                                <li class="dropdown" *ngIf="isUserLogin">
                                    <a class="nav-link" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"
                                            aria-hidden="true"></i> <span
                                            class="username">{{preFillService.userFullName}}</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a routerLink="myprofile" class="dropdown-item"><i class="fa fa-user-circle"
                                                aria-hidden="true"></i>
                                            My Profile</a>
                                        <a class="dropdown-item"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            Order</a>
                                        <a class="dropdown-item" (click)="logout()"> <i class="fa fa-sign-out"
                                                aria-hidden="true"></i>
                                            Logout</a>
                                    </div>
                                </li>
                                <li class="d-lg-none my-4" *ngIf="!isUserLogin">
                                    <a href="#loginModal" class="btn-style-a smoothscroll d-inline" data-toggle="modal"
                                        data-animation="fadeInUp" data-delay="0.85s" #loginButton>Login</a>
                                    <a href="#consult" class="btn-style-b ml-3 smoothscroll d-inline"
                                        data-toggle="modal" data-animation="fadeInUp" data-delay="0.85s">Register</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-icons d-none d-lg-flex">
                            <a href="#loginModal" class="btn-style-a smoothscroll" data-toggle="modal"
                                data-animation="fadeInUp" data-delay="0.85s" *ngIf="!isUserLogin">Login</a>
                            <a href="#consult" class="btn-style-b ml-3 smoothscroll" data-toggle="modal"
                                data-animation="fadeInUp" data-delay="0.85s" *ngIf="!isUserLogin">Register</a>
                            <ul class="mti-list d-none">
                                <li>
                                    <span class="searchIcon">
                                        <i class="flaticon-search"></i>
                                    </span>
                                    <div class="hSearchBox">
                                        <form id="search" action="#" method="post">
                                            <div class="search-o-group">
                                                <input type="text" name="search-terms" id="search-terms"
                                                    placeholder="Enter search terms...">
                                                <button type="submit" class="osearch-btn"><i class="fa fa-search"
                                                        aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <!-- <span id="cart"><i class="flaticon-shopping-cart"></i><span class="badge">02</span></span> -->
                                    <div class="shopping-cart">
                                        <div class="shopping-cart-header">
                                            <div class="shopping-cart-total">
                                                <span class="lighter-text">Total:</span>
                                                <span class="main-color-text total">$461.15</span>
                                            </div>
                                        </div>
                                        <!--end shopping-cart-header -->
                                        <ul class="shopping-cart-items">
                                            <li>
                                                <img src="assets/img/food-menu/mpfood-1.jpg" alt="" />
                                                <span class="item-name">XMREDTREE</span>

                                                <span class="item-price">$49.50</span>
                                                <span class="item-quantity">Quantity: 01</span>
                                                <span class="cartProduct-remove">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                            </li>
                                            <li>
                                                <img src="assets/img/food-menu/mpfood-2.jpg" alt="" />
                                                <span class="item-name">XMWHREIN</span>
                                                <span class="item-price">$34.06</span>
                                                <span class="item-quantity">Quantity: 10</span>
                                                <span class="cartProduct-remove">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                            </li>
                                            <li>
                                                <img src="assets/img/food-menu/mpfood-3.jpg" alt="" />
                                                <span class="item-name">XMJBRR</span>
                                                <span class="item-price">$14.21</span>
                                                <span class="item-quantity">Quantity: 5</span>
                                                <span class="cartProduct-remove">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                            </li>
                                        </ul>

                                        <a href="#" class="button">Checkout</a>
                                    </div>
                                    <!--end shopping-cart -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>