<div class="container" *ngIf="isAPIResponseCome">
    <div class="body-box">
        <div class="order-body" *ngIf="orderList?.length > 0">
            <h5 class="h5 mb-5">Past Orders</h5>
            <div class="order-box" *ngFor="let order of orderList">
                <div class="order-thumb">
                    <img src="assets/img/order-thum.png" alt="">
                </div>
                <div class="order-details">
                    <div class="title"></div>
                    <div class="place">{{order.city}}</div>
                    <div class="des">Order #{{order.orderTypeId}} | {{order.orderDate | date:' d MMM y, h:mm a'}}
                    </div>
                    <a href="#order-detail" (click)="onclickOrderDetail(order)" data-toggle="modal" data-animation="fadeInUp" data-delay="0.85s">View
                        Details</a>
                </div>
            </div>
        </div>
        <h5 *ngIf="orderList?.length === 0" class="h5 mb-5" style="color: red;">No order placed yet
        </h5>
    </div>
</div>

<!-- <ng-template #loader>
    <div class="loader" id="preloader"></div>
</ng-template> -->

<app-order-detail #orderDetail></app-order-detail>