<div class="container-fluid" *ngIf="branchDetail">
    <div class="hero-area menu-area">
        <div class="row">
            <ng-container *ngIf="categoriesList?.length > 0 && isAPIResponseCome else noCategoryView">
                <div class="col-md-3 col-lg-2">
                    <aside class="category-menu-sidebar">
                        <div class="category-menu-title">Categories</div>
                        <ul>
                            <ng-container *ngFor="let category of categoriesList">
                                <li [ngClass]="{ 'cat-selected': category?.id === selectedCategoryId }"
                                    (click)="categoryClick(category)">{{category?.name1}}</li>
                            </ng-container>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-5 col-lg-6">
                    <div class="menu-tab">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="menu-tab" data-toggle="pill" href="#menu" role="tab"
                                    aria-controls="menu" aria-selected="true">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="combomeal-tab" data-toggle="pill" href="#combomeal" role="tab"
                                    aria-controls="combomeal" aria-selected="false">Combo Meal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="info-tab" data-toggle="pill" href="#info" role="tab"
                                    aria-controls="info" aria-selected="false">Info</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
                                <ng-container *ngIf="isMenuResponseCome">
                                    <div class="menu-items" *ngIf="menuItemList?.length else noMenuView">
                                        <div class="menu-item" *ngFor="let item of menuItemList">
                                            <div class="d-flex flex-row">
                                                <div class="menu-content flex-grow-1 mr-3">
                                                    <h6 class="menu-name">
                                                        <ng-container
                                                            *ngIf="item?.condimentSets?.length > 0 else noToppings">
                                                            <a (click)="menuItemClick(item, menuTabType.menu)"
                                                                href="#menuItemCondimentSets" data-toggle="modal"
                                                                data-animation="fadeInUp" data-delay="0.85s"
                                                                title="Toppings">{{item?.display_name}}</a>
                                                        </ng-container>
                                                        <ng-template #noToppings>
                                                            <span>{{item?.display_name}}</span>
                                                        </ng-template>
                                                    </h6>
                                                </div>
                                                <div class="menu-detail align-self-start col-3 text-right p-0">
                                                    <span class="menu-price pr-sm-3">
                                                        <b>£{{item.price}}</b>
                                                    </span>
                                                    <span class="menu-button">
                                                        <ng-container
                                                            *ngIf="item?.condimentSets?.length > 0 else noToppingsIcon">
                                                            <a class="btn btn-light btn-sm btn-cart"
                                                                (click)="menuItemClick(item, menuTabType.menu)"
                                                                href="#menuItemCondimentSets" data-toggle="modal"
                                                                data-animation="fadeInUp" data-delay="0.85s"
                                                                title="Toppings"
                                                                [hidden]="!branchDetail?.pickupOpen && !branchDetail?.deliveryOpen">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </ng-container>
                                                        <ng-template #noToppingsIcon>
                                                            <span class="btn btn-light btn-sm btn-cart"
                                                                (click)="addToCartWithoutToppings(item)"
                                                                [hidden]="!branchDetail?.pickupOpen && !branchDetail?.deliveryOpen">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </ng-template>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #noMenuView>
                                        <span>No menu item found in selected category</span>
                                    </ng-template>
                                </ng-container>
                            </div>
                            <div class="tab-pane fade" id="combomeal" role="tabpanel" aria-labelledby="combomeal-tab">
                                <ng-container *ngIf="isComboMealResponseCome">
                                    <div class="menu-items" *ngIf="comboMealList?.length else noComboMealView">
                                        <div class="menu-item" *ngFor="let item of comboMealList">
                                            <div class="d-flex flex-row">
                                                <div class="menu-content flex-grow-1 mr-3">
                                                    <h6 class="menu-name">
                                                        <ng-container
                                                            *ngIf="item?.sidesets?.length > 0 else nocomboToppings">
                                                            <a (click)="menuItemClick(item, menuTabType.combomeal)"
                                                                href="#menuItemCondimentSets" data-toggle="modal"
                                                                data-animation="fadeInUp" data-delay="0.85s"
                                                                [hidden]="!branchDetail?.pickupOpen && !branchDetail?.deliveryOpen"
                                                                title="Add to cart">{{item?.displayName}}</a>
                                                        </ng-container>
                                                        <ng-template #nocomboToppings>
                                                            <a>{{item?.displayName}}</a>
                                                        </ng-template>
                                                    </h6>
                                                </div>
                                                <div class="menu-detail align-self-start col-3 text-right p-0">
                                                    <span class="menu-price pr-sm-3">
                                                        <b>£{{item.price}}</b>
                                                    </span>
                                                    <span class="menu-button">
                                                        <ng-container
                                                            *ngIf="item?.sidesets?.length > 0 else noToppingsComboIcon">
                                                            <a class="btn btn-light btn-sm btn-cart"
                                                                (click)="menuItemClick(item, menuTabType.combomeal)"
                                                                href="#menuItemCondimentSets" data-toggle="modal"
                                                                data-animation="fadeInUp" data-delay="0.85s"
                                                                title="Add to cart">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </ng-container>
                                                        <ng-template #noToppingsComboIcon>
                                                            <span class="btn btn-light btn-sm btn-cart"
                                                                [hidden]="!branchDetail?.pickupOpen && !branchDetail?.deliveryOpen"
                                                                (click)="addToCartWithoutToppings(item)">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </ng-template>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #noComboMealView>
                                        <span>No Combo meal found in selected category</span>
                                    </ng-template>
                                </ng-container>
                            </div>
                            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <div class="pro-ratting">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="menu-status open">We are open</div>
                                            <div class="menu-time">{{branchDetail.openingTime }} -
                                                {{branchDetail.closingTime}}</div>
                                            <div class="delivery"
                                                *ngIf="branchDetail?.deliveryOpen && branchDetail?.pickupOpen">Delivery
                                                and pick-up available</div>
                                            <div class="delivery"
                                                *ngIf="branchDetail?.deliveryOpen && !branchDetail?.pickupOpen">Delivery
                                                available</div>
                                            <div class="delivery"
                                                *ngIf="!branchDetail?.deliveryOpen && branchDetail?.pickupOpen">pick-up
                                                available</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noCategoryView>
                <div class="col-md-8 col-lg-8">
                    <span>
                        No Category Found in selected branch please select diffrent branch to view Category and Menu
                        Item
                    </span>
                </div>
            </ng-template>
            <div class="col-md-4 col-lg-4">
                <div class="menu-cart" *ngIf="cartList && cartList?.length > 0">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" *ngIf="branchDetail?.deliveryOpen" (click)="changeTab(tabType.delivery)">
                            <a class="nav-link" [ngClass]="{ 'active': selectedTabType === tabType.delivery }"
                                id="delivery-tab" data-toggle="pill" href="#delivery" role="tab"
                                aria-controls="delivery" aria-selected="true">
                                <div class="title">Delivery</div>
                                <!-- <span>in 15 min</span> -->
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="branchDetail?.pickupOpen" (click)="changeTab(tabType.pickup)">
                            <a class="nav-link" [ngClass]="{ 'active': selectedTabType === tabType.pickup }"
                                id="pickup-tab" data-toggle="pill" href="#pickup" role="tab" aria-controls="pickup"
                                aria-selected="false">
                                <div class="title">Pick-up</div>
                                <!-- <span>in 15 min</span> -->
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="delivery" role="tabpanel"
                            aria-labelledby="delivery-tab" *ngIf="cartList && cartList?.length > 0">
                            <div class="order-items" *ngFor="let cart of cartList">
                                <div class="order-item">
                                    <div class="menu-name">{{cart?.quantity}} × {{cart.title_lang}}</div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="order-price">${{cart.total}}</div>
                                        <div class="display-icons">
                                            <span [ngClass]="disableCart ? 'span-disable' : ''"
                                                (click)="updateCartQuantity(cart, false)"><i class="fa fa-minus-circle"
                                                    aria-hidden="true"></i>
                                            </span>
                                            <span [ngClass]="disableCart ? 'span-disable' : ''"
                                                (click)="updateCartQuantity(cart, true)">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </span>
                                            <span [ngClass]="disableCart ? 'span-disable' : ''" class="delete"> <i
                                                    class="fa fa-trash"
                                                    (click)="deleteConfirmDialog(cart.cartId)"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pickup" role="tabpanel" aria-labelledby="pickup-tab">
                            <div class="order-items" *ngFor="let cart of cartList">
                                <div class="order-item">
                                    <div class="menu-name">{{cart?.quantity}} × {{cart.title_lang}}</div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="order-price">${{cart.total}}</div>
                                        <div class="display-icons">
                                            <span [ngClass]="disableCart ? 'span-disable' : ''"
                                                (click)="updateCartQuantity(cart, false)"><i class="fa fa-minus-circle"
                                                    aria-hidden="true"></i>
                                            </span>
                                            <span [ngClass]="disableCart ? 'span-disable' : ''"
                                                (click)="updateCartQuantity(cart, true)">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </span>
                                            <span [ngClass]="disableCart ? 'span-disable' : ''" class="delete"> <i
                                                    class="fa fa-trash"
                                                    (click)="deleteConfirmDialog(cart.cartId)"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="cartList && cartList?.length > 0">
                            <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="df-control" id="Coupon" name="couponCode" formControlName="couponCode"
                                            placeholder="Add Coupon Code*" (input)="forceUppercaseConditionally($event);"                                            >
                                        <div *ngIf="formControl.couponCode.touched && formControl.couponCode.invalid">
                                            <span class="validation-error"
                                                *ngIf="couponForm.get('couponCode').hasError('required')">
                                                {{validationMsgEnum.CouponCodeRequired}}
                                            </span>
                                            <span class="validation-error"
                                                *ngIf="!couponForm.get('couponCode').hasError('required') && couponForm.get('couponCode').hasError('pattern')">
                                                {{validationMsgEnum.InValidCouponCode}}
                                            </span>
                                        </div>
                                        <span class="validation-error">
                                            {{apiErrorMsg}}
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="bfs-btn d-block w-20"
                                            style="margin-left: 48%">Add</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <a href="#coupanListModal" data-toggle="modal" data-animation="fadeInUp"
                                        data-delay="0.85s"> <span class="coupan-link">view coupan</span>
                                    </a>
                                </div>
                            </form>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <button [disabled]="disableCart" [ngClass]="disableCart ? 'diabled-class' : ''"
                                        type="button" class="bfs-btn d-block w-70" (click)="onConfirmCartItem()">Confirm
                                        Now</button>
                                    <button id="openModalButton" [hidden]="true" data-toggle="modal"
                                        data-target="#addressModal">Open Modal</button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="menuItemCondimentSets" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
    data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{displayModal.ModalTitle}}</h3>
                <button type="button" class="close" data-dismiss="modal" #closeButton aria-label="Close"
                    (click)="resetCartItem()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="selectedItem">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let set of selectedItem[displayModal.ListKey]">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="set.IsChecked" (change)="onCheckboxItemChange(set)"
                                class="custom-control-input" id="set{{ set?.id}}">
                            <label class="custom-control-label" for="set{{ set?.id}}" [disabled]="!set.IsDisabled">
                                <span class="popup-span">
                                    {{set[displayModal.ListItemKey]}} (min: {{set[displayModal.Min]}}
                                    <ng-container *ngIf="set[displayModal.Max] >= 0 else noMaxView"> max:
                                        {{set[displayModal.Max]}})
                                    </ng-container>
                                    <ng-template #noMaxView>
                                        )
                                    </ng-template>
                                </span>
                            </label>
                            <ng-container
                                *ngIf="set[displayModal.SubListKey] && set[displayModal.SubListKey].length > 0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let set1 of set[displayModal.SubListKey]">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" [(ngModel)]="set1.IsChecked"
                                                [disabled]="set.IsDisabled && !set1.IsChecked && getCount(set) > 0 ? true : false"
                                                (change)="onCheckboxChange(set1, set)" class="custom-control-input"
                                                id="set1{{set1?.id}}">
                                            <label class="custom-control-label"
                                                for="set1{{set1?.id}}">{{set1[displayModal.SubListItemKey]}}</label>
                                            <div>
                                                <label for="set1_price{{set1?.id}}">Price:</label>&nbsp;
                                                <span id="set1_price{{set1?.id}}"
                                                    class="order-price">${{set1[displayModal.Price]}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </li>
                </ul>
                <div class="col-md-12 mb-5">
                    <input type="submit" class="bfs-btn d-block save-btn" value="Add to cart"
                        [ngClass]="isAddToCartDisabled() ? 'diabled-class' : ''" [disabled]="isAddToCartDisabled()"
                        (click)="onSave()">
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirm-dialog></app-confirm-dialog>

<ng-container *ngIf="branchDetail">
    <app-confirm-order-address-modal [branchDetail]="branchDetail" [selectedTab]="selectedTabType"
        (getCartListEmit)="getCartList()" #addressmodal>
    </app-confirm-order-address-modal>
</ng-container>

<div class="modal fade" id="coupanListModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
    data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Coupon Code</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="couponList?.length else noCoupon">
                <div>
                    <div class="order-details">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Code
                                    </th>
                                </tr>
                                <tr *ngFor="let coupan of couponList">
                                    <td>
                                        {{coupan.title}}
                                    </td>
                                    <td>
                                        {{coupan.code}}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <ng-template #noCoupon>
                Coupon Code not available
            </ng-template>

        </div>
    </div>
</div>