.category-menu-sidebar {
    li {
        cursor: pointer;
        padding: 5px;
    }   

    .cat-selected {
        background-color: #f8f9fa;
        border-radius: 14px;
    }
}

.save-btn {
    margin: 1% 0 0 41%
}

.popup-span {
    color: black;
    font-weight: 600;
}

.no-popup {
    cursor: none !important;
}