<!-- change password -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalTitle"
    aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" #closeButton aria-label="Close"
                    (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <label for="oldpassword">Old Password<span class="text-denger">*</span></label>
                                <input type="password" formControlName="oldpassword" class="df-control" id="oldpassword"
                                    name="oldpassword" placeholder="Old Password *"
                                    [ngClass]="{ 'is-invalid': formControl.oldpassword.touched && formControl.oldpassword.invalid }">
                                <div *ngIf="formControl.oldpassword.touched && formControl.oldpassword.invalid">
                                    <span class="validation-error"
                                        *ngIf="changePasswordForm.get('oldpassword').hasError('required')">
                                        {{validationMsgEnum.OldPasswordRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!changePasswordForm.get('oldpassword').hasError('required') && (changePasswordForm.get('oldpassword').hasError('maxlength') || changePasswordForm.get('oldpassword').hasError('minlength'))">
                                        {{validationMsgEnum.OldPasswordMaxLength}}
                                    </span>
                                </div>
                                <span class="validation-error">
                                    {{apiErrorMsg}}
                                </span>
                            </div>
                            <div class="col-md-12 mb-5">
                                <label for="password">New Password<span class="text-denger">*</span></label>
                                <input type="password" class="df-control" formControlName="newPassword" id="newPassword"
                                    name="newPassword" placeholder="Password *"
                                    [ngClass]="{ 'is-invalid': formControl.newPassword.touched && formControl.newPassword.invalid }">
                                <div *ngIf="formControl.newPassword.touched && formControl.newPassword.invalid">
                                    <span class="validation-error"
                                        *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                                        {{validationMsgEnum.PasswordRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!changePasswordForm.get('newPassword').hasError('required') && (changePasswordForm.get('newPassword').hasError('maxlength') || changePasswordForm.get('newPassword').hasError('maxlength'))">
                                        {{validationMsgEnum.PasswordMaxLength}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 mb-5">
                                <label for="confirmPassword">Confirm Password<span class="text-denger">*</span></label>
                                <input type="password" class="df-control" formControlName="confirmPassword"
                                    id="confirmPassword" name="confirmPassword" placeholder="Confirm Password *"
                                    [ngClass]="{ 'is-invalid': formControl.confirmPassword.touched && formControl.confirmPassword.invalid }">
                                <div *ngIf="formControl.confirmPassword.touched && formControl.confirmPassword.invalid">
                                    <span class="validation-error"
                                        *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                                        {{validationMsgEnum.ConfirmPasswordRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').hasError('maxlength')">
                                        {{validationMsgEnum.ConfirmPasswordMaxLength}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!changePasswordForm.get('confirmPassword').hasError('required') && !changePasswordForm.get('confirmPassword').hasError('maxlength') && changePasswordForm.get('confirmPassword').hasError('confirmedValidator')">
                                        {{validationMsgEnum.PasswordNotMatched}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 mb-5">
                                <input type="submit" [ngClass]="isBtnDisabled ? 'diabled-class' : ''"
                                    [disabled]="isBtnDisabled" class="bfs-btn d-block w-100" value="Set Password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>