<div class="profile-tab hero-area">
    <div class="tab-bar">
        <ul class="nav nav-pills container" id="pills-tab" role="tablist">
            <li class="nav-item" (click)="selectedTabId = 'profile'">
                <a class="nav-link" [ngClass]="{ 'active': selectedTabId === 'profile' }" id="profile-tab"
                    data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="true">My
                    Profile</a>
            </li>
            <li class="nav-item" (click)="selectedTabId = 'orders'">
                <a class="nav-link" [ngClass]="{ 'active': selectedTabId === 'orders' }" id="orders-tab"
                    data-toggle="pill" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Orders</a>
            </li>
            <li class="nav-item" (click)="selectedTabId = 'address'">
                <a class="nav-link" [ngClass]="{ 'active': selectedTabId === 'address' }" id="address-tab"
                    data-toggle="pill" href="#address" role="tab" aria-controls="address"
                    aria-selected="false">Address</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" [ngClass]="{ 'show active': selectedTabId === 'profile' }" id="profile"
            role="tabpanel" aria-labelledby="profile-tab">
            <div class="container">
                <div class="profile-details">
                    <div class="d-flex align-items-center w-100">
                        <div>
                            <div class="profile-img">
                                <img src="assets/img/profile.png" class="img-fluid" alt="">
                            </div>
                            <div class="details">
                                <div class="profile-name">{{customerInfo?.fullName}}</div>
                                <div class="profile-email">{{customerInfo?.email}}</div>
                            </div>
                            <a href="#changePasswordModal" data-toggle="modal" data-animation="fadeInUp"
                                data-delay="0.85s"> <span class="change-password">
                                    {{ 'WebData.ChangePassword' | translate }}
                                </span>
                            </a>
                        </div>

                        <div class="language-div">
                            <h3>
                                {{ 'WebData.LanguagePreference' | translate }}
                            </h3>
                            <div class="form-group">
                                <select name="" class="df-control" id="" (change)='onLanguageChange($event)'>
                                    <ng-container *ngFor="let lang of langPreferences">
                                        <option [value]="lang.value">{{lang.text}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <!-- <button> <span class="change-password">Update</span>
                            </button> -->
                        </div>

                        <div class="wallet-details user-wallet">
                            <div>
                                <div class="wallet-icon">
                                    <img src="assets/img/wallet-icon.png" alt="">
                                </div>
                                <div class="details">
                                    <div class="wallet-total">${{customerInfo?.walletBalance}}</div>
                                    <div class="wallet-des">Wallet Balance</div>
                                </div>
                            </div>
                            <div>
                                <div class="wallet-icon">
                                    <img src="assets/img/loyalty_icon.png" alt="">
                                </div>
                                <div class="details">
                                    <div class="wallet-total">${{customerInfo?.loyaltyPoint}}</div>
                                    <div class="wallet-des">loyalty Point</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="profile-form">
                    <form id="frmUser" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <h3 class="form-title">Personal Details
                        </h3>
                        <div class="row mb-5">
                            <div class="col-md-6 mb-5">
                                <label for="userfirstName">First Name</label>
                                <input type="text" formControlName="firstName" class="df-control" id="userfirstName"
                                    name="userfirstName"
                                    [ngClass]="{ 'is-invalid': formControl.firstName.touched && formControl.firstName.invalid }"
                                    placeholder="First Name *">
                                <div *ngIf="formControl.firstName.touched && formControl.firstName.invalid">
                                    <span class="validation-error"
                                        *ngIf="userForm.get('firstName').hasError('required')">
                                        {{validationMsgEnum.FirstNameRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!userForm.get('firstName').hasError('required') && userForm.get('firstName').hasError('maxlength')">
                                        {{validationMsgEnum.FirstNameMaxLength}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="lastName">Last Name</label>
                                <input type="text" formControlName="lastName" class="df-control" id="userlastName"
                                    name="userlastName"
                                    [ngClass]="{ 'is-invalid': formControl.lastName.touched && formControl.lastName.invalid }"
                                    placeholder="Last Name *">
                                <div *ngIf="formControl.lastName.touched && formControl.lastName.invalid">
                                    <span class="validation-error"
                                        *ngIf="userForm.get('lastName').hasError('required')">
                                        {{validationMsgEnum.LastNameRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!userForm.get('lastName').hasError('required') && userForm.get('lastName').hasError('maxlength')">
                                        {{validationMsgEnum.LastNameMaxLength}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="email">Email Address</label>
                                <div class="display-icon">
                                    <input type="text" class="df-control diabled-class" value="{{customerInfo?.email}}"
                                        id="useremail" name="useremail" disabled>
                                    <span [hidden]="!customerInfo?.isEmailVerified" class="check-icon">
                                        <i class="fa fa-check-circle-o fa-lg check-icon--green" aria-hidden="true"></i>
                                    </span>
                                    <span [hidden]="customerInfo?.isEmailVerified" class="check-icon">
                                        <i class="fa fa-times-circle fa-lg check-icon--red" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="phoneNumber">Mobile</label>
                                <div class="display-icon">
                                    <input type="text" formControlName="mobile" class="df-control" id="usermobile"
                                        name="usermobile" (focusout)="checkIsMobileExist()"
                                        [ngClass]="{ 'is-invalid': formControl.mobile.touched && formControl.mobile.invalid }"
                                        placeholder="Mobile *">
                                    <span [hidden]="!customerInfo?.isMobileVerified" class="check-icon">
                                        <i class="fa fa-check-circle-o fa-lg check-icon--green" aria-hidden="true"></i>
                                    </span>
                                    <span [hidden]="customerInfo?.isMobileVerified" class="check-icon">
                                        <i class="fa fa-times-circle fa-lg check-icon--red" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div *ngIf="formControl.mobile.touched && formControl.mobile.invalid">
                                    <span class="validation-error" *ngIf="userForm.get('mobile').hasError('required')">
                                        {{validationMsgEnum.MobileRequired}}
                                    </span>
                                    <span class="validation-error"
                                        *ngIf="!userForm.get('mobile').hasError('required') && userForm.get('mobile').hasError('pattern')">
                                        {{validationMsgEnum.MobileLength}}
                                    </span>
                                </div>
                                <span
                                    *ngIf="!userForm.get('mobile').hasError('required') && !userForm.get('mobile').hasError('pattern') && isMobileExist"
                                    class="validation-error">
                                    {{validationMsgEnum.MobileAlreadyExist}}
                                </span>
                            </div>
                            <!-- <div class="col-md-6 mb-5">
                                <label for="password">Password</label>
                                <input type="text" class="df-control" id="userpassword" name="userpassword" placeholder="******">
                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="Cpassword">Confirm Password</label>
                                <input type="text" class="df-control" id="Cpassword" name="Cpassword" placeholder="******">
                            </div> -->
                        </div>
                        <!-- <h3 class="form-title">Address Details</h3>
                        <div class="row mb-5">
                            <div class="col-md-6 mb-5">
                                <label for="address-1">Address 1</label>
                                <input type="text" class="df-control" id="address-1" name="address-1" placeholder="Enter Address 1">
                            </div>
                            <div class="col-md-6 mb-5">
                                <label for="address-2">Address 2</label>
                                <input type="text" class="df-control" id="address-2" name="address-2" placeholder="Enter Address 2">
                            </div>
                        </div> -->
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <input type="submit"
                                    [ngClass]="isSubmitDisable || isObjectChange() ? 'diabled-class' : ''"
                                    [disabled]="isSubmitDisable || isObjectChange()" class="bfs-btn d-block w-100"
                                    value="Update Now">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="wallets" role="tabpanel" aria-labelledby="wallets-tab">
            <div class="container">
                <div class="body-box">
                    <div class="wallet-details">
                        <div class="wallet-icon">
                            <img src="assets/img/wallet-icon.png" alt="">
                        </div>
                        <div class="details">
                            <div class="wallet-total">$123.22</div>
                            <div class="wallet-des">Wallet Balance</div>
                        </div>
                    </div>
                    <div class="wallet-body">
                        <form class="form-inline justify-content-center align-items-end">
                            <div class="form-group mx-sm-3">
                                <label for="addMoney" class="mb-3">Add money to wallet</label>
                                <input type="number" class="df-control" id="addMoney" name="addMoney"
                                    placeholder="1000">
                            </div>
                            <input type="submit" class="bfs-btn py-4" value="Add Money">
                        </form>
                        <div class="wallet-table">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">TRANSACTIONS</th>
                                            <th scope="col">AMOUNT</th>
                                            <th scope="col">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4 class="h4">OCTOBER 2020</h4>
                                                <div class="wallet-details">
                                                    <div class="wallet-icon">
                                                        <img src="assets/img/wallet-icon.png" alt="">
                                                    </div>
                                                    <p>Sent to Lorem Ipson 8 OCT, 10:17 PM</p>
                                                </div>
                                            </td>
                                            <td>-$45</td>
                                            <td>SUCCESS</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="h4">OCTOBER 2020</h4>
                                                <div class="wallet-details">
                                                    <div class="wallet-icon">
                                                        <img src="assets/img/wallet-icon.png" alt="">
                                                    </div>
                                                    <p>Sent to Lorem Ipson 8 OCT, 10:17 PM</p>
                                                </div>
                                            </td>
                                            <td>-$45</td>
                                            <td>SUCCESS</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4 class="h4">OCTOBER 2020</h4>
                                                <div class="wallet-details">
                                                    <div class="wallet-icon">
                                                        <img src="assets/img/wallet-icon.png" alt="">
                                                    </div>
                                                    <p>Sent to Lorem Ipson 8 OCT, 10:17 PM</p>
                                                </div>
                                            </td>
                                            <td>-$45</td>
                                            <td>SUCCESS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{ 'show active': selectedTabId === 'orders' }" id="orders" role="tabpanel"
            aria-labelledby="orders-tab" *ngIf="selectedTabId === 'orders'">
            <app-order></app-order>
        </div>
        <div class="tab-pane fade" [ngClass]="{ 'show active': selectedTabId === 'address' }" id="address"
            role="tabpanel" aria-labelledby="address-tab">
            <app-customer-address></app-customer-address>
        </div>
    </div>
</div>

<div class="modal fade" id="loyalty" tabindex="-1" role="dialog" aria-labelledby="loyaltyTitle" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="loyaltyTitle">Register</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-0">
                <div class="loyalty-card">
                    <div class="loyalty-details">
                        <div class="loyalty-number">
                            <span class="big">26</span>
                            <span class="small">/ 30</span>
                        </div>
                        <p>You are 4 points away from earning 3 Pizza</p>
                        <h4>You Can REEDEEM Points</h4>
                    </div>
                    <div class="loyalty-barcode">
                        <img src="assets/img/barcode.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>