<section class="most-popular-food-area" *ngIf="brandList?.length > 0 else error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-titleV1">
                    <p> {{ 'WebData.PopularMenu' | translateKey }}</p>
                    <h3> {{ 'WebData.MostPopularBrands' | translateKey }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let item of brandList">
                <div class="item" (click)="itemClick(item)">
                    <div class="single-food-box">
                        <div class="sfb-img">
                            <img src="../../assets/img/food-menu/mpfood-1.jpg" alt="">
                        </div>
                        <div class="sbf-info">
                            <h4>{{ 'WebData.BrandItemTitle' | translateKey : item }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="pagination-icon" *ngIf="paginationModel.totalRecords > 0">
             <button [ngClass]="paginationModel.pageNumber == 1 ? 'diabled-class' : ''" (click)="pagePrevious()">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
            </button>
            <button [ngClass]="paginationModel.pageNumber == this.paginationModel.totalPages ? 'diabled-class' : ''" (click)="pageNext()">
                <i class="fa fa-step-forward" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</section>


<ng-template #error>
    <app-error></app-error>
</ng-template>