<!-- Breadcrumb Area -->
<section class="breadcrumb-area">
    <img src="assets/img/bg/innerpage-breadcrumb-bg-1.jpg" alt="" class="breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-box">
                    <h3 class="page-title">Reservation</h3>
                    <ul class="breadcrumb-list">
                        <li><a routerLink="home">Home</a></li>
                        <li>Reservation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Breadcrumb Area -->

<!-- Booking Area -->
<section class="booking-area reservation-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="booking-form">
                    <div class="section-titleV2">
                        <h3>Reserve your table online</h3>
                    </div>
                    <div class="bform">
                        <form action="#" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" class="df-control" id="date" name="date" formControlName="date"
                                        [ngClass]="{ 'is-invalid': formControl.date.touched && formControl.date.invalid }">
                                    <div *ngIf="formControl.date.touched && formControl.date.invalid">
                                        <span class="validation-error"
                                            *ngIf="reservationForm.get('date').hasError('required')">
                                            {{validationMsgEnum.DateRequired}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select name="time" id="time" class="df-control" formControlName="time"
                                        placeholder="Select Time">
                                        <ng-container *ngFor="let timeObj of TimeList">
                                            <option [value]="timeObj.id">{{timeObj.startTime}} - {{timeObj.closeTime}}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="formControl.time.touched && formControl.time.invalid">
                                        <span class="validation-error"
                                            *ngIf="reservationForm.get('time').hasError('required')">
                                            {{validationMsgEnum.TimeRequired}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="df-control" id="seat" name="seat" formControlName="seat"
                                        placeholder="Seat *"
                                        [ngClass]="{ 'is-invalid': formControl.seat.touched && formControl.seat.invalid }">
                                    <div *ngIf="formControl.seat.touched && formControl.seat.invalid">
                                        <span class="validation-error"
                                            *ngIf="reservationForm.get('seat').hasError('required')">
                                            {{validationMsgEnum.SeatRequired}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select name="paymentType" id="paymentType" class="df-control"
                                        formControlName="paymentType" placeholder="Select Payment Type">
                                        <ng-container *ngFor="let payment of paymentList">
                                            <option [value]="payment.id">{{payment.titleEng}}
                                            </option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="formControl.paymentType.touched && formControl.paymentType.invalid">
                                        <span class="validation-error"
                                            *ngIf="reservationForm.get('paymentType').hasError('required')">
                                            {{validationMsgEnum.TimeRequired}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" [ngClass]="isSubmitDisable  ? 'diabled-class' : ''"
                                        [disabled]="isSubmitDisable" class="bfs-btn" value="Submit Message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-reserve-contact">
                    <h4>Address:</h4>
                    <p>55/K Middle Street, Newro JK,
                        New York, USA</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-reserve-contact">
                    <h4>Phone:</h4>
                    <p>+44 8585 9595 - 77</p>
                    <p>+88 4747 9586 - 22</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-reserve-contact">
                    <h4>Email:</h4>
                    <p>amail@mextreo.com</p>
                    <p>newmail@mextreo.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Booking Area -->