<section class="most-popular-food-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-titleV1">
                    <p>popular menu</p>
                    <h3>Most Popular Brands</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let item of items">
                <div class="item" (click)="displayBranch(item)">
                    <div class="single-food-box">
                        <div class="sfb-img">
                            <img src="../../assets/img/food-menu/mpfood-1.jpg" alt="">
                        </div>
                        <div class="sbf-info">
                            <h4>{{item.display_name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>